/FranquiaMedica/build/
/JavaApplication17/nbproject/private/
/FranquiaMedica/dist/
/FranquiaMedica2/nbproject/private/
/FranquiaMedica2/build/
/AdmClinicasMedicas/nbproject/private/
/AdmClinicasMedicas/build/
/AdmClinicasMedicas/dist/
